* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #e97f78, #90b3eb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
}

div.container{
    perspective: 1000px;
}

form{
    background: rgba(255, 255, 255,.3);
    padding: 3rem;
    height: 400px;
    width: 240px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255,.3);
    border-top: 1px solid rgba(255, 255, 255,.3);

    backdrop-filter: blur(10px);

    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0,.2);
    text-align: center;
/*
    position: absolute;*/
}

p {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input{
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255,.3);
    border-top: 1px solid rgba(255, 255, 255,.3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;

    margin-bottom: 10px;

    backdrop-filter: blur(5px);

    box-shadow: 4px 4px 60px rgba(0, 0, 0,.2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    transition: all .3s;

    display: flex;
    flex-direction: column;
}

::placeholder{
    color: white;
}

input:hover, input[type="email"]:focus, input[type="password"]:focus{
    background: rgba(255, 255, 255,.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0,.2);
}

input[type="submit"]{
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.cube{
    position: relative;
    transform-style: preserve-3d;
    display: flex;
}
/*
#form_connexion{
    transform: rotateY(0deg) translateX(-168px);
}

#form_inscription{
    transform: rotateY(90deg) translateX(168px);
}
*/
@keyframes spin{
    from{
        transform: rotateY(0deg);
    }

    to{
        transform: rotateY(360deg);
    }

    
}